*{
    padding: 0;
    margin: 0;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkolivegreen;
}
.navigation{
    width: 700px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    font-size: 20px;


}
.navigation-logo{
    height: 40px;
    padding-top: 2px;
}
a{
    text-decoration: none;
    color: white;
}
main{
    background-color: grey;
}
.to-do{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 0px;
    margin: 0px 20px;
}
.add-to-do{
    padding: 10px 20px;
    height: 400px;
    width: 300px;
    margin-right: 0px 10px 20px 0px;
    background-color: bisque;

}
.btn-img{
    height: 20px;
}
.btn{
    display: flex;
    align-items: center;
    float: right;
    margin-bottom: 10px;
}
#to-add{
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    height: 350px;
}
.to-do-list{
    background-color: aqua;
    width: 400px;
    padding: 10px 20px;
    overflow: scroll;
    margin-left: 10px;
}
@media  screen and (max-width:822px){
    .to-do-list{
    height: 400px;
    width: 90%;
    margin-top: 20px;
    }
    .navigation-logo{
        height:30px;
    }
    .navigation{
        font-size: 15px;
    }
}
.list-here{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#delete-btn{
    display: none;
}
ol{
    padding: 20px;
    border: 1px solid;
    background-color: white;
}
.list-item{
    padding: 10px;
    border-bottom: 1px solid blue;
    overflow-wrap: break-word;
}
.description{
    padding: 20px;
    background-color: darkolivegreen;
    color: white;
}
h2{
    padding: 20px;
}